*{
    box-sizing: border-box;
}

@font-face{
    font-family: "Graphik";
    src: url("../fonts/GraphikLCG-Regular.ttf");
    font-weight: 400;
}

@font-face{
    font-family: "Graphik-Semibold";
    src: url("../fonts/GraphikLCG-Semibold.ttf");
    font-weight: 500;
}

.fix-size-contayner{
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 15px;
    min-width: 320px;
}

.fix-size-contayner1{
    max-width: 1290px;
    margin: 0 auto;
    padding: 0 15px;
    min-width: 320px;
}

a{
    text-decoration: none;
    display: flex;
}
.header{
    display: flex;
    justify-content: space-between ;
}
.header1{
    display: flex;
    justify-content: space-between ;
}

.nav{
    color: #000000;
    font-family: 'Graphik';
    font-size: 15px;
    line-height: 20px;
}

.header_section{
    display: flex;
    align-items: center;
}

.header_section2{
    display: flex;
    align-items: center;
}

.header_item{
    padding: 34px 0;
    margin-left: 45px;
}

.header_item1{
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #FFFFFF;
}

.headerButton{
    cursor: pointer;
}

.button_text{
    font-family: 'Graphik-Semibold';
    font-size: 16px;
    color: black;
    width: 120px;
    height: 45px;
    justify-content: center;
    align-items: center;
}

.header_item_button{
    background: #FF6336;
}

.button_text_second{
    font-family: 'Graphik-Semibold';
    font-size: 16px;
    color: #FFFFFF;
    width: 120px;
    height: 45px;
    justify-content: center;
    align-items: center;
}

.second_headerButton{
    cursor: pointer;
}

hr{
    background: #EFEFEF;
    padding: 0;
    margin: 0;
}

.phon{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 151px;
}

h1{
    font-family: 'Graphik-Semibold';
    font-size: 65px;
    line-height: 115%;
    color: #000000;
    width: 552px;
}

.secont_text{
    margin-top: 51px;
    width: 471px;
    font-family: 'Graphik';
    font-size: 25px;
    line-height: 120%;
    color: #000000;
}

.header_section1{
    justify-content: left;
    margin-top: 51px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.header_item2{
    margin-left: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 160px;
    align-items: center;
    justify-content: center;
}

.button_text1{
    font-family: 'Graphik-Semibold';
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: #000000;
}

.button_text_second1{
    font-family: 'Graphik-Semibold';
    font-size: 16px;
    line-height: 60px;
    color: #FFFFFF;
}

.start{
    width: auto;
}

.header_item_button1{
    background: #FF6336;
    width: 160px;
    align-items: center;
    justify-content: center;
}

.secont_text_0{
    margin-top: 24px;
    font-family: "Graphik";
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}

.block{
    margin-top: 182px;
    background: #FF9C7D;
    height: 455px;
    width: 100%;
}

.localization{
    padding:108px 0 82px 0 ;
    font-family: 'Graphik-Semibold';
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #000000;
}

.localization3{
    padding-top:165px;
    font-family: 'Graphik-Semibold';
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    color: #000000;
}

.localization4{
    padding-top:119px;
    font-family: 'Graphik-Semibold';
    font-size: 65px;
    line-height: 75px;
    text-align: center;
    color: #000000;
    margin: 0 auto;
    width: 784px;
}

.group{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sames{
    margin-top: 10px;
}

.control{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 193px;
    justify-content: space-between;
}

h3{
    font-family: 'Graphik-Semibold';
    font-size: 50px;
    line-height: 60px;
    color: #000000;
    margin-top: 151px;
    width: 493px;
}

.colaborate{
    margin-top: 30px;
    font-family: 'Graphik';
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    width: 491px;
}

.start{
    cursor: pointer;
    font-family: 'Graphik-Semibold';
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: 30px;
}

.control1{
    display: flex;
    margin-top: 250px;
    justify-content: space-between;
}

.colaborate1{
    margin-top: 30px;
    font-family: 'Graphik';
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    width: 445px;
}

.control2{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 250px;
    justify-content: space-between;
}

.colaborate2{
    margin-top: 30px;
    font-family: 'Graphik';
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    width: 520px;
}

.box{
    margin-top: 150px;
    width: 100%;
    height: 1100px;
    background: #FFF8E4;
}

.line1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.line2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 75px;
}

.line10{
    display: flex;
}

.block__cards_space-between {
    justify-content: space-between;
}
  
.card__img {
    width: 160px;
    height: 120px;
}

.card__img2 {
    width: 180px;
    height: 183px;
}

.card___img2 {
    width: 180px;
    height: 183px;
}

.card__img3 {
    width: 180px;
    height: 183px;
}

.card___img3 {
    width: 180px;
    height: 183px;
}
  
.card__img1 {
    width: 145px;
    height: 201px;
}

.card___img1 {
    width: 145px;
    height: 201px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 303px;
    align-items: center;
    flex-wrap: nowrap;
}

.card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 330px;
    align-items: center;
    flex-wrap: nowrap;
}

.card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 281px;
    align-items: center;
    flex-wrap: nowrap;
}

.card3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 309px;
    align-items: center;
    flex-wrap: nowrap;
}

.card4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 310px;
    align-items: center;
    flex-wrap: nowrap;
}

.card5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 326px;
    align-items: center;
    flex-wrap: nowrap;
}

.card6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 409px;
    align-items: left;
    flex-wrap: nowrap;
}

.card7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 409px;
    align-items: left;
    flex-wrap: nowrap;
}

.card8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 407px;
    align-items: left;
    flex-wrap: nowrap;
}
  
.card__title {
    margin-top: 25px;
    font-family: 'Graphik-Semibold';
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #000000;
}

.card__title1 {
    margin-top: 50px;
    font-family: 'Graphik-Semibold';
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

.card__title2 {
    margin-top: 67px;
    font-family: 'Graphik-Semibold';
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

.card__title3 {
    margin-top: 58px;
    font-family: 'Graphik-Semibold';
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}
  
.card__descriptor {
    margin-top: 20px;
    text-align: center;
    font-family: 'Graphik';
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.card__descriptor1 {
    margin-top: 34px;
    text-align: left;
    font-family: 'Graphik';
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.card__descriptor2 {
    margin-top: 33px;
    text-align: left;
    font-family: 'Graphik';
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.localization1{
    padding: 100px 0 60px 0;
    font-family: 'Graphik-Semibold';
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #000000;
}

.backgr{
    margin-top: 108px;
    width: 100%;
    height: 1065px;
    background: #f9f9f9;
}

.localization2{
    padding: 154px 0 75px 0;
    font-family: 'Graphik-Semibold';
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #000000;
}

.learn_more{
    margin-top: 25px;
    font-family: 'Graphik';
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #000000;
}

.biogra{
    background: #C9E8F2;
    width: 100%;
    height: 469px;
}

.blogs{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 63px;
    justify-content: space-between;
}

.bl_first{
    width: 920.9px;
    font-family: 'Graphik';
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

.bl_sec{
    font-family: 'Graphik';
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    padding-top: 23px;
}

.log{
    margin-top: 7px;
}

.ocenka{
    background: #DABC98;
    width: 100%;
    height: 332px;
}

.tortik{
    display: flex;
    padding-top: 90px;
}

.star{
    width: 450px;
}

.tort_text{
    padding: 40px 0 0 67px;
    width: auto;
    font-family: 'Graphik-Semibold';
    font-size: 35px;
    line-height: 50px;
    color: #000000;
}

.line_0{
    padding-left: 60px;
}

.chick{
    width: 100%;
    height: 1100px;
    background: #f9f9f9;
}

.lock{
    font-family: 'Graphik';
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

.chick_img{
    display: flex;
    margin: 0 auto;
    padding:25px 0 32px 0 ;
}

.see{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    width: 193px;
    height: 60px;
    border: none;
    background: #FF6336;
    font-family: 'Graphik-Semibold';
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    padding: 0;
}

.lock1{
    width: 100%;
    height: 603px;
    background: #FF9C7D;
}

.try{
    padding: 29px 0 54px 0 ;
    font-family: 'Graphik';
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #000000;
    margin: 0 auto;
}

.free_1{
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background: #000000;
    border: none;
    width: 160px;
    height: 60px;
    font-family: 'Graphik-Semibold';
    font-size: 17px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

.footer{
    width: 100%;
    height: 900px;
    background: #EEEEEE;;
}

.card__title__1{
    margin-top: 92px;
    font-family: 'Graphik-Semibold';
    font-size: 40px;
    line-height: 50px;
    color: #000000;
}

.card__img__1 {
    margin-top: 28px;
    width: 300px;
    height: 300px;
}

.card__img__2 {
    margin-top: 31px;
    width: 80px;
    height: 32px;
}

.card__descriptor__1 {
    margin-top: 11px;
    text-align: left;
    font-family: 'Graphik';
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    width: 300px;
}

.hr_footer{
    margin-top: 95px;
}

.Product{
    margin-top: 97px;
    padding-bottom: 21px;
    font-family: 'Graphik-Semibold';
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

.card__1 {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-wrap: nowrap;
}

.card__2 {
    margin-left: 101px;
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-wrap: nowrap;
}

.card__3 {
    margin-left: 51px;
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-wrap: nowrap;
}


.card___1 {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-wrap: nowrap;
}

.silki{
    margin-top: 15px;
    font-family: 'Graphik';
    font-size: 15px;
    line-height: 15px;
    color: #000000;
}

.silki1{
    font-family: 'Graphik';
    font-size: 15px;
    line-height: 15px;
    color: #000000;
}

.footer_text{
    font-family: 'Graphik';
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    width: 301px;
    margin-top: 52px;
    margin-left: 14px;
}

.headerlogo1{
    margin-top: 52px;
    padding-left: 15px;
}

.end{
    margin-top: 47px;
    font-family: 'Graphik';
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    padding-right: 15px;
}
button{
    border: none;
}
@media (max-width: 1300px){
    .tort_text{
        font-size: 26px;
        line-height: 40px;
    }
    .log{
        width: 140px;
    }
    .star{
        width: 350px;
    }
}

@media (max-width: 1100px){
    .chick_img {
        width: 100%;
    }
    .chick{
        height: 860px;
    }
    .localization4{
        width: auto;
    } 
    .try{
        width: auto;
    }
    .free_1{
        width: 180px;
        height: 80px;
        align-items: center;
        justify-content: center;
        font-size: 19px;
    }
    .localization3{
        font-size: 45px;
        padding: 100px 0 20px 0;
        line-height: 40px;
    }
    .see{
        width: 230px;
        height: 70px;
        align-items: center;
        font-size: 18px;
    }
    .header {
        flex-direction: column;
        align-items: center;
    }
    .header_section2{
        margin-bottom: 25px;
    }
    .header_item1{
        padding: 0 80px;
        margin-top: 20px;
    }
    .header_item_button{
        padding: 0 80px;
        margin-top: 20px;
    }
    .phon{
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    .nnn{
        width: 400px;
        margin-bottom: 50px;
    }
    h1{
        font-size: 50px;
        text-align: center;
        margin: 0 auto;  
        width: auto  
    }
    .secont_text {
        text-align: center;
        width: 600px;
        margin: 0 auto;
        padding-top: 20px;
    }
    .header_section1{
        margin-top: 20px;
        justify-content: center;
    }
    .secont_text_0{
        text-align: center;
    } 
    .header_item2{
        width: 250px;
    } 
    .header_item_button1{
        width: 250px;
    } 
    .block{
        margin-top: 100px;
    }
    .localization{
        font-size: 40px;
        padding: 80px 0;
    }
    .localization2{
        font-size: 40px;
        padding: 80px 0;
    }
    .control{
        flex-direction: column;
        align-items: center;
        margin-top: 220px;
    }
    .control1{
        flex-direction: column;
        align-items: center;
        order: 2;
        margin-top: 150px;
    }
    .control2{
        flex-direction: column;
        align-items: center;
        order: 2;
        margin-top: 150px;
    }
    .umens{
        width:690px;
        margin-bottom: 80px;
    }
    .Text{
        text-align: center;
    }
    .Text1{
        text-align: start;
    }
    h3{
        margin: 0 auto;
    }
    .box{
        height: 2700px;
    }
    .backgr {
        height: 1100px;
    }
    .brh{
        width: 200px;
        height: 200px;
    }
    .bl_first{
        width: auto;
        text-align: start;
        font-size: 20px;
        line-height: 30px;
    }
    .biogra{
        height: 350px;
    }
    .bl_sec{
        text-align: start;
    }
    .log{
        text-align: start;
    }
    .star{
       width: 350px;
    }
    .log{
        width: 130px;
    }
    .line_0{
        padding-left:0 ;
    }
    .tort_text{
        font-size: 30px;
        text-align: start;
        line-height: 30px;
        padding: 55px 10px 0 40px;
    }
}

@media (max-width: 980px){
    .tort_text{
        font-size: 25px;
    }
}
@media (max-width: 907px){
    .tort_text{
        font-size: 15px;
    }
    .star{
        width: 300px;
    }

}

@media (max-width: 750px){
    .localization4{
        font-size: 50px;
    } 
    .header1{
        height: auto;
        background: #EEEEEE;
        width: 100%;
        min-width: 320px;
    }
    .fix-size-contayner1{
        padding: 0;
    }
    .localization3{
        font-size: 30px;
    }
    .lock{
        font-size: 18px;
    }
    .chick{
        height: 750px;
    }
    .header_item{
        padding: 0;
        margin: 0;
    }
    .logo{
        width: 160px;
        margin: 15px 0;
    }
    .nav {
        font-size: 25px;
        line-height: 45px;
    }
    .nnn{
        width: 100%;
    }
    .localization{
        font-size: 40px;
        padding: 60px 0;
    }
    .Text{
        width: auto;
    }
    .umens{
        width: 100%;
    }
    h5{
        padding: 80px 0 40px 0;
        font-size: 40px;
    }
    .line1{
        flex-direction: column;
    }
    .line2{
        flex-direction: column;
    }
    .box{
        height: 2850px;
    }
    .card__img1{
        width: 400px;
        align-items: center;
    }
    .card__title {
        font-size: 32px;
    }
    .card__title1 {
        font-size: 32px;
        text-align: center;
    }
    .card__descriptor {
        font-size: 22px;
        margin-bottom: 50px;
    }
    .card6{
        text-align: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .backgr {
        margin: 0;
        height: 2100px;
    }
    .card__descriptor1 {
        text-align: center;
    }
    .card7 {
        text-align: center;
        align-items: center;
        margin-bottom: 30px;
    }
    .card__descriptor2 {
        text-align: center;
    }
    .card8{
        align-items: center;
        margin-bottom: 30px;
    }
    .blogs{
        flex-direction: column;
        align-items: center;   
        padding: 30px;  
    }
    .biogra{
        height: 510px;
    }
    .brh{
        margin-bottom: 15px;
    }
    
    .Text1{
        text-align: center;
    }

    .bl_first{
        text-align: center;
    }
    .bl_sec{
        text-align: center;
    }
    .tortik{
        flex-direction: column;
        padding-top: 50px;
        align-items: center;
    }
    .line_0{
        display: none;
    }
    .ocenka{
        height: 430px;
    }
    .tort_text{
        text-align: center;
        padding: 42px 30px 0 40px;
    }
    .log{
        width: auto;
    }

@media (max-width: 600px) {
    .header_section{
        width: 290px;
    }
    .header1{
        align-items: center;
    }
    .footer_text{
        width: 200px;
    }
    .localization4{
        font-size: 32px;
        line-height: 40px;
        padding-top: 90px;
    } 
    .lock1{
        height: 503px;
    }
    .try{
        font-size: 18px;
    }
    .free_1{
        width: 90%;
    }
    .localization3{
        font-size: 25px;
        line-height: 30px;
    }
    .lock{
        font-size: 14px;
        line-height: 20px;
    }
    .chick{
        height: 615px;
    }
    .see{
        width: 100%;
    }
    .brh{
        width: 70%;
        height: auto;
    }
    .bl_first{
        font-size: 18px;
    }
    .biogra{
        height: 670px;
    }
    .card{
        width: auto;
    }
    .card1{
        width: auto;
    }
    .card2{
        width: auto;
    }
    .card3{
        width: auto;
    }
    .card4{
        width: auto;
    }
    .card5{
        width: auto;
    }
    .nav {
        font-size: 28px;
        line-height: 45px;
    }
    .header_item_button{
        width: 100%;
        padding: 5px 0;
        
    }
    .header_item1{
        width: 100%;
        margin-right: 0;
        padding: 5px 0;
    }
    .header_section2{
        width: 100%;
        flex-direction: column;
    }
    .button_text{
        font-size: 25px;
        margin: 0;
        width: 100%;
    }
    .button_text_second{
        font-size: 25px;
        margin: 0;
        width: 100%;
    }
    h1{
        font-size: 30px;
        line-height: 40px;
        text-align: center;
        margin: 0 auto;  
        width: auto  
    }
    .secont_text {
        width: auto;
        font-size: 18px;
    }
    .header_section1{
        flex-direction: column;
    }
    .header_item2{
        margin-left: 0;
        margin-bottom: 20px;
        width: 100%;
    }
    .header_item_button1{
        width: 100%;
    }
    .secont_text_0{
        width: auto;
        font-size: 15px;
    } 
    .localization{
        font-size: 20px;
        line-height: 40px;
        text-align: center;
        width: 290px;
        min-width: 320px;
    }
    .group {
        flex-direction: column;
        align-items: center;
    }
    
    .smes{
        width: 150px;
        margin-top: 30px;
    }

    .block{
        margin-top: 100px;
        height: 810px;
    }
    h3{
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    width: auto;
    }
    .colaborate {
    text-align: center;
    width: auto;
    font-size: 18px;
    margin-top: 30px;
    }
    .colaborate1 {
        text-align: center;
        width: auto;
        font-size: 18px;
        margin-top: 30px;
    }
    .colaborate2 {
        text-align: center;
        width: auto;
        font-size: 18px;
        margin-top: 30px;
    }
    .box{
        height: 3000px;
    }
    .localization1 {
        text-align: center;
        margin: 0 auto;
        width: auto;
        font-size: 30px;
        line-height: 40px;
    }
    .localization2 {
        text-align: center;
        margin: 0 auto;
        width: auto;
        font-size: 30px;
        line-height: 40px;
        padding: 60px 0;
    }
    .card__descriptor {
        text-align: center;
        width: auto;
        font-size: 18px;
    }
    .card__img1{
        width: 50%;
    }
    .card__descriptor1 {
            text-align: center;
    width: auto;
    font-size: 18px;
    margin-top: 30px;
    }
    .card6{
        width: auto;
    }
    .card7{
        width: auto;
    }
    .card8{
        width: auto;
    }
    .backgr {
        height: 1900px;
    }
} }

@media (max-width: 470px) {
    .backgr {
        height: 2250px;
    }
}
@media (max-width: 1015px){
    .card__img__1{
        width: 200px;
        height: auto;
        margin: 0;
    }
    .card6{
        width: 250px;
    }
    
}

@media (max-width: 1000px){
    .card___1 {
        margin-left: 30px;
    }
    .card__2 {
        margin-left: 70px;
    }
    .card__3 {
        margin-left: 30px;
    }
    .card__descriptor__1{
        font-size: 15px;
        width: 250px;
    }
    .footer{
        height: 750px;
    }
    .card__title__1{
        font-size: 30px;
    }
}

@media (max-width: 752px){
   .header1{
    flex-direction: column;
   } 
   .header_section{
    align-items: center;
    flex-direction: column;
   }
   .footer_text {
    margin-left: 0;
    text-align: center;
   }
   .end{
    text-align: center;
    padding-bottom: 15px;
   }
    }

@media (max-width: 925px){
    .line10{
        flex-direction: column;
        align-items: center;
    }
    .card___1 {
        margin: 0;
        width: 250px;
        text-align: center;
    }
    .card__2 {
        margin: 0;
        width: 250px;
        text-align: center;
    }
    .card__3 {
        margin: 0;
        width: 250px;
        text-align: center;
    }
    .silki1{
        justify-content: center;
    }
    .silki{
        justify-content: center;
    }

    .card__img__1{
        width: 200px;
        padding-top: 10px;
    }
    .card__descriptor__1{
        text-align: center;
        font-size: 25px;
    }
    .card6{
        width: 320px;
        align-items: center;
    }
    .card__descriptor__1{
        width: auto;
    }
    .Product {
        font-size: 25px;
        margin-top: 50px;
    }
    .silki1{
        font-size: 19px;
    }
    .silki{
        font-size: 19px;
        margin-top: 25px;
    }
    .start{
        font-size: 30px;
    }
    .footer{
        height: 2345px;
    }
}